<div id="work-table">
  <div class="navbar action-menu navbar-inverse">
	  <ul class="nav navbar-nav">
		  <li>
			<a ng-click="wtvm.addRectangle()">Добавить прямоугольник</a>
		  </li>
		  <li>
			<a ng-click="wtvm.addCircle()">Добавить круг</a>
		  </li>
		  <li>
			<a ng-click="wtvm.delete()">Удалить</a>
		  </li>
		  <li>
			<a ng-click="wtvm.clear()">Очистить поле</a>
		  </li>
		  <li>
			<a ng-click="wtvm.setImage()">Установить изображение</a>
		  </li>
		  <li>
			<a ng-click="wtvm.save()">Сохранить</a>
		  </li>
	  </ul>
  </div>
  <div id="objects-area" class="container" ng-mousedown="wtvm.workTableMousedown($event)" ng-style="wtvm.workTableImg">
      <div id="select-frame" ng-style="wtvm.sFrame.sFrameStyle | formatStyle" ng-class="wtvm.sFrame.classes" ng-mousedown="wtvm.sFrame.mousedown($event)">
      	<div ng-repeat="figure in wtvm.sFrame.children track by $index" ng-class="figure.classes" figure-id="{{figure.id}}" ng-style="figure.style | formatStyle" ng-mousedown="wtvm.sFrame.mousedown($event)">
			<div class="fig"></div>
			<div class="l"></div>
			<div class="r"></div>
			<div class="t"></div>
			<div class="d"></div>
			<div class="tl"></div>
			<div class="tr"></div>
			<div class="dl"></div>
			<div class="dr"></div>
		</div>
      </div>
      <div ng-repeat="figure in wtvm.figures track by $index" ng-class="figure.classes" figure-id="{{figure.id}}" ng-style="figure.style | formatStyle" ng-mousedown="figure.mousedown($event)">
		<div class="fig"></div>
		<div class="l"></div>
		<div class="r"></div>
		<div class="t"></div>
		<div class="d"></div>
		<div class="tl"></div>
		<div class="tr"></div>
		<div class="dl"></div>
		<div class="dr"></div>
	</div>
  </div>
</div>