<div class="cafe-full clearfix" style="background-image: url(/{{vm.cafe.img}});">
<div class="container " ng-controller="cafeCtrl">
  <div class="row">
	<div class="cafe-full_info col-md-8">
		<div class="page-header">
			  <h1>
				  {{vm.cafe.name}}
				  <a class="btn btn-default pull-right" ng-show="vm.clientLogin" ng-click="vm.popupOrder()">Заказать столик</a>
				 <a class="btn btn-default pull-right" href="/login?page={{vm.currentPath}}" ng-hide="vm.clientLogin">Войти и заказать столик</a>
			  </h1>
			  <small rating-stars rating="vm.cafe.rating"></small>
		  </div>
	  <div class="row">	
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Информация</h2>
					</div>
					<div class="panel-body">
						<p>Адрес: {{vm.cafe.address}}</p>
						<p>Кухня: {{vm.cafe.cuisine}}</p>
						<p>Средний чек: {{vm.cafe.check}}</p>
						<p>Способы оплаты:</p> 	
						   <ul>
							<li ng-repeat="payment in vm.cafe.payments">
								{{payment}}
							</li>
						   </ul>
					 </div>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="panel panel-primary">
				<div class="panel-heading">
				  <h2 class="panel-title">Часы работы</h2>
				</div>
				<div class="panel-body">
				 <p ng-repeat="time in vm.cafe.timetable | filter: !time.isChoice">
					  {{time.name}}:
					  {{time.openTime | date: 'hh:mm'}} - {{time.closeTime | date: 'hh:mm'}}
				 </p>
				</div>
				</div>
			</div>
		</div>
			  <div class="panel panel-primary review-panel">
				<div class="panel-heading clearfix">
				  <a class="btn btn-default pull-right" ng-click="vm.popupReviewForm()" ng-show="vm.clientLogin">Добавить отзыв</a>
				  <a class="btn btn-default pull-right" ng-hide="vm.clientLogin" href="/login?page={{vm.currentPath}}">Войти и добавить отзыв</a>
				  <h2 class="panel-title">Отзывы</h2>
				</div>
				<div class="panel-body review-container">
					<div class="row" ng-repeat="review in vm.cafe.reviews | orderBy: 'createOn': false">
					  <div class="review">
						<div class="well well-sm review-header">
						  <span class="reviewAuthor">{{review.author}}</span>
						  <small rating-stars rating="review.rating"></small>
						  <button type="button" ng-click="vm.removeReview(review._id)" class="close pull-rignt" ng-show="vm.userName === review.author"><span aria-hidden="true">×</span></button>
						  <small class="reviewTimestamp pull-right">{{review.createOn | date : 'dd.MM.yy'}}</small>
						</div>
						<div class="col-xs-12">
						  <p>{{review.reviewText}}</p>
						  </div>
						</div>
					 </div>
				   </div>
			</div>
	  </div>
	</div>
</div>