<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12" ng-hide="vm.islogin">
			<p class="lead">Если вы уже зарегистрированы, авторизуйтесь: <a href="/#login&page={{vm.returnPage}}">Вход в приложение</a></p>
			<form ng-submit="vm.onSubmit()">
				<div class="alert alert-danger" role="alert" ng-show="vm.formError">{{vm.formError}}</div>
				<div class="form-group">
					<label for="name">Имя</label>
					<input type="text" class="form-control" id="name" placeholder="Имя" ng-model="vm.credentials.name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.credentials.email">
				</div>
				<div class="form-group">
					<label for="password">Пароль</label>
					<input type="password" class="form-control" id="password" placeholder="Пароль" ng-model="vm.credentials.password">
				</div>
				<div class="radio">
				    <label>
						<input type="radio" ng-model="vm.credentials.type" value="client" checked>
						Клиент
					</label>
				</div>
				<div class="radio">
				  <label>
					  <input type="radio" ng-model="vm.credentials.type" value="admin">
					  Администратор кафе
					</label>
				</div>
				<button type="submit" class="btn btn-default">Зарегистрироваться</button>
			</form>
		</div>
		<div class="col-md-6 col-sm-12" ng-show="vm.islogin">
			Вы уже вошли в приложение
		</div>
	</div>
</div>