<div id="work-table">
  <div class="collapse navbar-collapse action-menu">
	  <ul class="nav navbar-nav">
		  <li>
			<a ng-click="wtvm.addRectangle()">Добавить прямоугольник</a>
		  </li>
		  <li>
			<a ng-click="wtvm.addCircle()">Добавить круг</a>
		  </li>
		  <li>
			<a ng-click="wtvm.delete()">Удалить</a>
		  </li>
		  <li>
			<a ng-click="wtvm.clear()">Очистить поле</a>
		  </li>
		  <li>
			<a ng-click="wtvm.group()">Сгруппированить</a>
		  </li>
		  <li>
			<a ng-click="wtvm.ungroup()">Разгруппировать</a>
		  </li>
		  <li>
			<a ng-click="wtvm.save()">Сохранить изображение</a>
		  </li>
	  </ul>
  </div>
  <div id="objects-area" class="container">
      <div id="select-frame"></div>
  </div>
</div>