<div ng-controller="dashboardCtrl">
	<div class="container" ng-show="vm.clientLogin">	
		<div class="row">
			<div class="col-md-3">
				<img ng-show="vm.user.img" src="{{vm.user.img}}" alt="..." class="img-circle img-responsive">
				<h2 class="center-block">
					{{vm.user.name}}
					<smal>{{vm.user.email}}</smal>
				</h2>
				<p><a href="" ng-click="vm.updateProfile()">Изменить фотографию</a> / <a ng-click="vm.deleteProfile()" href="">Удалить профиль</a></p>
			</div>
			<div class="col-md-9">
				<h3>Заказанные столики</h3>
				<table class="table table-striped">
					<tr ng-repeat="order in vm.orders | orderBy: order.date | dateFilter: true">
						<td>
							<h4>{{order.cafe}}</h4>
							<small>столик №{{order.tableNumber}} на {{order.numberOfSeats}} человек</small>
						</td>
						<td>
							<h4>{{order.date | date: 'HH:mm'}} - {{order.dateEnd | date:'HH:mm'}}</h4>
							<small>{{order.date | date: 'MM.dd' }}</small>
						</td>
						<td>
							<span class="glyphicon glyphicon-remove" ng-click="vm.deleteOrder(order)"></span>
						</td>
					</tr>
				</table>
				<h3>Архив заказов</h3>
				<table class="table table-striped">
					<tr ng-repeat="order in vm.orders | orderBy: order.date | dateFilter: false">
						<td>
							<h4>{{order.cafe}}</h4>
							<small>столик №{{order.tableNumber}} на {{order.numberOfSeats}} человек</small>
						</td>
						<td>
							<h4>{{order.date | date: 'HH:mm'}} - {{order.dateEnd | date:'HH:mm'}}</h4>
							<small>{{order.date | date: 'MM.dd' }}</small>
						</td>
						<td>
							<span class="glyphicon glyphicon-remove" ng-click="vm.deleteOrder(order)"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div role="alert" ng-hide="vm.clientLogin" class="alert alert-danger">Вы не вошли в приложение: <a href="/login?path=/dashboard">Войти</a></div>
</div>