<div class="modal-content">
  <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
    <div class="modal-header">
      <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">Удаление пользователя</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <p>Вы уверены, что хотите удалить ваш аккаунт</p>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Отмена</button>
      <button type="submit" class="btn btn-primary">Удалить</button>
    </div>
  </form>
</div>