<div class="container" ng-controller="homeCtrl">
	<div class="row top">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Фильтрация</h2>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="filter">Поиск</label>
						<input type="text" id="filter" name="filter" ng-model="vm.textFilter" class="form-control">
					</div>
					<div class="form-group">
						<label for="filter">Сортировка:</label>
						<select id="rating" name="rating" ng-model="vm.selectFilter" class="form-control input-sm">
							<option value="rating">Рейтинг</option>
							<option value="check">Средний чек</option>
							<option value="order">Популярность</option>
							<option value="create">Новое</option>
						  </select>
					</div>
					<div class="form-group">
						<label for="filter">Кухня</label>
						<select id="rating" name="rating" ng-model="vm.cuisineFilter" class="form-control input-sm">
							<option ng-repeat="cuisineName in vm.cuisineNames" value="{{cuisineName}}">{{cuisineName}}</option>
							<option value="">Любая</option>
						  </select>
					</div>
					<div class="form-group">
						<label for="filter">Способ оплаты</label>
						<select id="rating" name="rating" ng-model="vm.paymentFilter" class="form-control input-sm">
							<option ng-repeat="paymentName in vm.paymentNames" value="{{paymentName}}">{{paymentName}}</option>
							<option value="">Любой</option>
						  </select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="error">{{vm.message}}</div>
			<div class="row">
				<div class="col-md-4 cafe-preview" ng-repeat="cafe in vm.data.cafes | filter:vm.paymentFilter | filter:vm.textFilter | filter:vm.cuisineFilter | orderBy: vm.selectFilter :true">
					<div class="cafe-preview__img" style="background-image: url({{cafe.img}});">
						<div class="cafe-preview__info">
							<p>Адрес: {{cafe.address}}</p>
							<p>Кухня: {{cafe.cuisine}}</p>
							<p>Средний чек: {{cafe.check}}р.</p>
							<p>Способы оплаты: </p>
							<ul>
								<li ng-repeat="payment in cafe.payments">{{payment}}</li>
							</ul>
						</div>
					</div>
					<div class="cafe-preview__title">
						<a href="/cafe/{{cafe._id}}">{{cafe.name}}</a>
						<small rating-stars rating="cafe.rating" class="pull-right"></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>